

:root {
    --nav-text-color: #505050;
    --background-color: #fff;
    --title-text: "Poppins", sans-serif;
    --body-text: "DM Sans", sans-serif;
    --body-text-color: #7f7e7e;
    --title-text-color: darkslategray;
    --card-color: #F5F3EE;
}

body {
    background-color: var(--background-color);
    margin: 0;
}



.about-us-div {
    margin: 40px 30px;
    text-align: left;
    width: 50vw;
    float: left;
}

.about-title {
    text-align: center;
    margin: 25px 25px 15px;
    color: var(--title-text-color);
    font-size: 2.5rem;
    font-family: var(--title-text);
    font-weight: 600;
}

.about-subtitle {
    color: #ff8e24;
    font-family: var(--title-text);
    font-weight: 900;
    font-size: 1.7rem;
    margin-bottom: 60px;
    margin-left: 15px;
    font-weight: 800;
}

.about-description {
    color: var(--title-text-color);
    font-size: 4.6rem;
    font-family: var(--title-text);
    font-weight: 600;
}

.about-sub-description {
    color: var(--body-text-color);
    margin: 15px;
    font-family: var(--body-text);
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1rem;
    font-weight: 300;
}

.about-img-div {
    margin-bottom: 50px;
}

.about-img {
    width: 600px;
    height: 500px;
    margin-bottom: 200px;
    margin-top: 210px;
    border: 1px solid #F7CB73;
}