

:root {
    --nav-text-color: #505050;
    --background-color: #fff;
    --main-bg-color: #FFFFFF;
    --title-text: "Poppins", sans-serif;
    --nav-menu-text: "Inter", sans-serif;
    --body-text: "DM Sans", sans-serif;
    --body-text-color: #7f7e7e;
    --rabing-color: #ED7239;
    --btn-color: #EB662B;
    --nav-bg-color: #FBE6BE;
    --footer-bg-color: #383838;
    --title-text-color: darkslategray;
    --card-color: #F5F3EE;
}



.footer-body {
    margin: 30px 0px 0px;
    padding: 30px 150px;
    background-color: var(--footer-bg-color);
    color: white;
    font-size: 1rem;
    font-family: var(--body-text);
    font-weight: 300;

}

.section-2 .menu-link {
    color: white;
    display: inline-block;
    line-height: 1.5;
}

.section-2 .menu-link:hover {
    color: #f89838;
}


.section-1,
.section-2,
.section-3 {
    margin: 20px auto;
    padding: 10px 0px;
    text-align: left;
}

.section-1 {
    float: left;
    width: 20vw;
    line-height: 1.3;
    position: relative;
    top: 10px;
    left: 13%;
}

.footer-address {
    position: relative;
    left: 5%;
}

.section-2 {
    float: left;
    width: 30vw;
    text-align: center;

}

.section-3 {
    line-height: 1.6;

}

.newsletter-input {
    width: 15%;
    height: 25px;
    border-radius: 3px;
    border: 1px solid var(--nav-bg-color);
    margin-top: 5px;
}

.section-3-description {
    margin-bottom: 5px;
}

.newsletter-input::placeholder {
    padding: 5px;
}

.newsletter-submit-btn {
    background-color: #000000;
    color: #f89838;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.newsletter-submit-btn:hover {
    cursor: pointer;
    background-color: #1f1f1f;
    color: white;
}

.logo-img {
    background-color: #EC662B;
    color: white;
    padding: 1px 3px;
    border-radius: 2px;
    margin-right: 2px;
}

.logo {
    color: royalblue;
    font-family: var(--title-text);
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.2rem;
    font-style: italic;
    text-decoration: none;
    margin: 15px;
    padding: 8px;
    display: inline;
    background-color: var(--nav-bg-color);
}

.nav-menu {
    display: inline;
    margin: 30px;
    font-family: var(--nav-menu-text);
    font-size: 1rem;
}

.menu-link {
    text-decoration: none;
    color: var(--nav-text-color);
}