

:root {
    --nav-text-color: #505050;
    --background-color: #fff;
    --title-text: "Poppins", sans-serif;
    --body-text: "DM Sans", sans-serif;
    --body-text-color: #7f7e7e;
    --title-text-color: darkslategray;
    --card-color: #F5F3EE;
}

body {
    background-color: var(--background-color);
    margin: 0;
}



.upper-section {
    background-color: var(--background-color);
    margin: 0;
}

.left-upper-section {
    background-color: var(--background-color);
    margin: 0px auto 20px;
    padding: 50px;
    background-image: url('../assets/homeBg.jpeg');
    opacity: 1.5;
    image-rendering: pixelated;
}

.upper-title {
    color: whitesmoke;
    font-size: 4.5rem;
    font-family: var(--title-text);
    font-weight: 900;
    margin: 20px 0 25px 50px;
    font-weight: 600;
}

.title-word-color-black {
    color: #F7CB73;
}



.get-started-btn {
    background-color: #F7CB73;
    color: var(--nav-text-color);
    font-family: var(--title-text);
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
    margin: 40px 0 15px 50px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.get-started-btn:hover {
    color: black;
    background-color: #f8bd46;
}

.view-menu-btn:hover {
    background-color: #ff9864;
}



.middle-section {
    background-color: white;
    margin: 100px 60px;
}

.middle-title {
    margin: 25px auto 20px auto;
    text-align: center;
    font-family: var(--title-text);
    color: darkslategray;
    font-size: 2.5rem;
    font-weight: 600;
}

.middle-sub-title {
    margin: 20px auto 20px auto;
    text-align: center;
    font-family: var(--body-text);
    color: var(--body-text-color);
    font-size: 1.1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    width: 49%;
    line-height: 1.3;
    font-weight: 200;
}

.middle-sub-section {
    margin: 20px 140px;
    display: inline-block;
    width: 77%;
    text-align: justify;
}

.middle-description-1,
.middle-description-2,
.middle-description-3 {
    font-size: 1.1rem;
    color: var(--body-text-color);
    font-family: var(--body-text);
    line-height: 1.3;
    text-justify: inter-word;
    font-weight: 300;
}

.middle-description-2 {
    position: relative;
    top: 25px;
    left: 2%;
}

.middle-description-1,
.middle-description-3 {
    position: relative;
    top: 100px;
    right: 2%;
}

.middle-img-1,
.middle-img-2,
.middle-img-3 {
    width: 350px;
    border: 1px solid #F3C871;
}

.middle-img-1,
.middle-img-3 {
    float: right;
    position: relative;
    left: 2%;
}

.middle-img-2 {
    position: relative;
    float: left;
    right: 2%;
}