

:root {
    --nav-text-color: #505050;
    --background-color: #fff;
    --main-bg-color: #FFFFFF;
    --title-text: "Poppins", sans-serif;
    --nav-menu-text: "Inter", sans-serif;
    --body-text: "DM Sans", sans-serif;
    --body-text-color: #7f7e7e;
    --rabing-color: #ED7239;
    --btn-color: #EB662B;
    --nav-bg-color: #FBE6BE;
    --footer-bg-color: #383838;
    --title-text-color: darkslategray;
    --card-color: #F5F3EE;
}

body {
    background-color: var(--background-color);
    margin: 0;
}



.logo-img {
    background-color: #EC662B;
    color: white;
    padding: 1px 3px;
    border-radius: 2px;
    margin-right: 2px;
}

.logo {
    color: royalblue;
    font-family: var(--title-text);
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.2rem;
    font-style: italic;
    text-decoration: none;
    margin: 40px;
    padding: 8px;
    display: inline;
    position: relative;
    top: 30px;
    background-color: var(--nav-bg-color);
}



.login-div {
    margin: 60px auto;
    background-color: var(--card-color);
    border-radius: 7px;
    width: 80vw;
    height: 68vh;
    background-color: #FFFFFF;
    border: 2px solid #E6E6E6;
}

.login-div .left-section {
    display: inline-block;
    width: 33vw;
    margin: 27px 20px 20px;
    padding: 28px 35px;
    position: relative;
    bottom: 40px;
    text-align: center;
    background-color: var(--card-color);
    border-radius: 8px;
}

.left-section .login-title {
    margin: 0;
    font-family: var(--title-text);
    font-weight: 600;
    color: var(--title-text-color);
}

.left-section .login-subtitle {
    font-family: var(--body-text);
    font-weight: 300;
    color: var(--body-text-color);
}

.login-user-email-input,
.login-user-password-input {
    display: block;
    margin: 20px auto;
    border: none;
    outline: none;
    border-bottom: 1px solid blue;
    background-color: var(--card-color);
    width: 60%;
    height: 40px;
}

.login-user-email-input:hover,
.login-user-password-input:hover {
    border-bottom: 1px solid orange;
}

.login-user-email-input::placeholder,
.login-user-password-input::placeholder {
    font-family: var(--body-text);
    color: var(--title-text-color);
    font-weight: 300;
    font-size: 1.1rem;
}



.registration-div {
    padding: 20px;
    height: 100%;
}

.registration-logo {
    text-align: center;
    position: absolute;
    left: 50%;
}

.have-account-txt {
    margin: 10px;
}

.business_type {
    margin: 10px;
    width: 60%;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid royalblue;
}

label {
    font-family: var(--body-text);
    color: var(--body-text-color);
    font-size: 1rem;
}



.error {
    color: red;
    font-family: var(--body-text);
    font-weight: 200;
    font-size: 0.9rem;
}

.success-message {
    text-align: center;
    color: limegreen;
    font-family: var(--body-text);
    font-weight: 200;
    font-size: 1rem;
}

.unsuccess-message {
    text-align: center;
    color: red;
    font-family: var(--body-text);
    font-weight: 200;
    font-size: 1rem;
}